name: make-lint

on: [ push ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install poetry
      - name: Install dependencies
        run: make install
      - name: Start linting
        run: make lint
